.space {
    width: 95vw;
    height: 95vh;
    padding: 10px;
    background-color: #000;
}

@keyframes move-invaders {
    0% {
        top: 0;
        left: 0;
    }
    7% {
        top: 0;
        left: 400px;
    }
    15% {
        top: 50px;
        left: 400px;
    }
    21% {
        top: 50px;
        left: 0
    }
    28% {
        top: 100px;
        left: 0;
    }
    37% {
        top: 100px;
        left: 400px;
    }
    43% {
        top: 150px;
        left: 400px;
    }
    50% {
        top: 150px;
        left: 0;
    }
    56% {
        top: 200px;
        left: 0
    }
    62% {
        top: 200px;
        left: 400px;
    }
    69% {
        top: 250px;
        left: 400px;
    }
    76% {
        top: 250px;
        left: 0;
    }
    81% {
        top: 300px;
        left: 0
    }
    90% {
        top: 300px;
        left: 400px;
    }
    100% {
        top: 350px;
        left: 400px;
    }
}

.invaders-box {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px 15px;
    animation: move-invaders 40s linear;
}

.defender-box {
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
}

.space-invader {
    border: 2px solid #fff;
    background-color: #fff;
    margin: 25px 25px;
}

.space-invader-defender {
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: 0 0 0 .25em #fff, .625em 0 0 .25em #fff, -.625em 0 0 .25em #fff, 1em .0625em 0 .1875em #fff, -1em .0625em 0 .1875em #fff, 0 -.25em 0 .25em #fff, 0 -.625em 0 0 #fff;
}

.space-invader-1 {
    box-shadow: 0 0 0 .25em #fff, 0 .25em 0 .25em #fff, -.625em .375em 0 .125em #fff, .625em .375em 0 .125em #fff, -.75em -.75em 0 0 #fff, .75em -.75em 0 0 #fff, -.5em -.5em 0 0 #fff, .5em -.5em 0 0 #fff, -.75em -.25em 0 0 #fff, -.5em -.25em 0 0 #fff, .5em -.25em 0 0 #fff, .75em -.25em 0 0 #fff, -1em 0 0 0 #fff, -.75em 0 0 0 #fff, .75em 0 0 0 #fff, 1em 0 0 0 #fff, -1em .25em 0 0 #fff, 1em .25em 0 0 #fff, -.75em .75em 0 0 #fff, .75em .75em 0 0 #fff, /* Left Arm */
    1.25em .25em 0 0 #fff, 1.25em .5em 0 0 #fff, 1.25em .75em 0 0 #fff, /* Right Arm */
    -1.25em .25em 0 0 #fff, -1.25em .5em 0 0 #fff, -1.25em .75em 0 0 #fff, /* Left Foot */
    -.25em 1em 0 0 #fff, -.5em 1em 0 0 #fff, /* Right Foot */
    .25em 1em 0 0 #fff, .5em 1em 0 0 #fff;
}

.space-invader-2 {
    box-shadow: /* Body */
    -.125em -.5em 0 .25em #fff, .125em -.5em 0 .25em #fff, -.75em -.375em 0 .125em #fff, -.875em -.375em 0 .125em #fff, .75em -.375em 0 .125em #fff, .875em -.375em 0 .125em #fff, -1em 0 0 .25em #fff, 1em 0 0 .25em #fff, -.5em .25em 0 0 #fff, -.25em .25em 0 0 #fff, 0 .25em 0 0 #fff, .25em .25em 0 0 #fff, .5em .25em 0 0 #fff, /* Crotch */
    .3125em .5em 0 0 #fff, .5em .5em 0 0 #fff, .5em .5em 0 0 #fff, -.3125em .5em 0 0 #fff, -.5em .5em 0 0 #fff, -.5em .5em 0 0 #fff, .0625em .75em 0 0 #fff, -.0625em .75em 0 0 #fff, /* Right Leg */
    -.625em .75em 0 0 #fff, -.8125em .75em 0 0 #fff, -1.0625em 1em 0 0 #fff, -1.25em 1em 0 0 #fff, /* Left Leg */
    .625em .75em 0 0 #fff, .8125em .75em 0 0 #fff, 1.0625em 1em 0 0 #fff, 1.25em 1em 0 0 #fff;
}

.space-invader-3 {
    box-shadow: /* Body */
    0 -.625em 0 .125em #fff, -.25em -.375em 0 .125em #fff, .25em -.375em 0 .125em #fff, .625em -.25em 0 0 #fff, -.625em -.25em 0 0 #fff, 0 .125em 0 .125em #fff, -.75em .125em 0 .125em #fff, .75em .125em 0 .125em #fff, .375em .25em 0 0 #fff, -.375em .25em 0 0 #fff, /* Crotch */
    .125em .5em 0 0 #fff, -.125em .5em 0 0 #fff, /* Right Leg */
    -.625em .5em 0 0 #fff, -.875em .75em 0 0 #fff, -.625em 1em 0 0 #fff, -.625em 1em 0 0 #fff, /* Left Leg */
    .625em .5em 0 0 #fff, .875em .75em 0 0 #fff, .625em 1em 0 0 #fff, .625em 1em 0 0 #fff;
}

.space-invader.animate {
    animation: 1s infinite;
}

.space-invader-1.animate,
.space-invader-1.classic {
    animation-name: space-invader-1;
}

.space-invader-2.animate,
.space-invader-2.classic {
    animation-name: space-invader-2;
}

.space-invader-3.animate,
.space-invader-3.classic {
    animation-name: space-invader-3;
}

@keyframes space-invader-1 {
    50% {
        box-shadow: 0 0 0 .25em #fff, 0 .25em 0 .25em #fff, -.625em .375em 0 .125em #fff, .625em .375em 0 .125em #fff, -.75em -.75em 0 0 #fff, .75em -.75em 0 0 #fff, -.5em -.5em 0 0 #fff, .5em -.5em 0 0 #fff, -.75em -.25em 0 0 #fff, -.5em -.25em 0 0 #fff, .5em -.25em 0 0 #fff, .75em -.25em 0 0 #fff, -1em 0 0 0 #fff, -.75em 0 0 0 #fff, .75em 0 0 0 #fff, 1em 0 0 0 #fff, -1em .25em 0 0 #fff, 1em .25em 0 0 #fff, -.75em .75em 0 0 #fff, .75em .75em 0 0 #fff, /* Left Arm */
        1.25em 0 0 0 #fff, 1.25em -.25em 0 0 #fff, 1.25em -.5em 0 0 #fff, /* Right Arm */
        -1.25em 0 0 0 #fff, -1.25em -.25em 0 0 #fff, -1.25em -.5em 0 0 #fff, /* Left Foot */
        -1em 1em 0 0 #fff, -1em 1em 0 0 #fff, /* Right Foot */
        1em 1em 0 0 #fff, 1em 1em 0 0 #fff;
    }
}

@keyframes space-invader-2 {
    50% {
        box-shadow: /* Body */
        -.125em -.5em 0 .25em #fff, .125em -.5em 0 .25em #fff, -.75em -.375em 0 .125em #fff, -.875em -.375em 0 .125em #fff, .75em -.375em 0 .125em #fff, .875em -.375em 0 .125em #fff, -1em 0 0 .25em #fff, 1em 0 0 .25em #fff, -.5em .25em 0 0 #fff, -.25em .25em 0 0 #fff, 0 .25em 0 0 #fff, .25em .25em 0 0 #fff, .5em .25em 0 0 #fff, /* Crotch */
        .3125em .5em 0 0 #fff, .5em .5em 0 0 #fff, .625em .5em 0 0 #fff, -.3125em .5em 0 0 #fff, -.5em .5em 0 0 #fff, -.625em .5em 0 0 #fff, .0625em .75em 0 0 #fff, -.0625em .75em 0 0 #fff, /* Right Leg */
        -.75em .75em 0 0 #fff, -.9375em .75em 0 0 #fff, -.75em 1em 0 0 #fff, -.5em 1em 0 0 #fff, /* Left Leg */
        .75em .75em 0 0 #fff, .9375em .75em 0 0 #fff, .75em 1em 0 0 #fff, .5em 1em 0 0 #fff;
    }
}

@keyframes space-invader-3 {
    50% {
        box-shadow: /* Body */
        0 -.625em 0 .125em #fff, -.25em -.375em 0 .125em #fff, .25em -.375em 0 .125em #fff, .625em -.25em 0 0 #fff, -.625em -.25em 0 0 #fff, 0 .125em 0 .125em #fff, -.75em .125em 0 .125em #fff, .75em .125em 0 .125em #fff, .375em .25em 0 0 #fff, -.375em .25em 0 0 #fff, /* Crotch */
        .125em .5em 0 0 #fff, -.125em .5em 0 0 #fff, /* Right Leg */
        -.375em .5em 0 0 #fff, -.625em .75em 0 0 #fff, -.875em 1em 0 0 #fff, -.375em 1em 0 0 #fff, /* Left Leg */
        .375em .5em 0 0 #fff, .625em .75em 0 0 #fff, .875em 1em 0 0 #fff, .375em 1em 0 0 #fff;
    }
}

.missile {
    background-color: #fff;
    width: 3px;
    height: 15px;
    position: absolute;
}